body { background: #222; display: flex; justify-content: center; align-items: center; height: 100vh; overflow: hidden; }

.gd-cube {
  width: 100px;
  height: 100px;
  background-color: #f6ff00; 
  border: 6px solid #000;
  position: relative;
  box-sizing: border-box;
  animation: gd-rotate 0.8s infinite linear;
}

.face-details {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10; 
}

.eye {
  width: 22px;
  height: 22px;
  background-color: #00ffff;
  border: 4px solid #000;
  position: absolute;
  top: 18px;
  box-sizing: border-box;
}

.left { left: 14px; }
.right { right: 14px; }

.mouth {
  width: 54px;
  height: 16px;
  background-color: #00ffff;
  border: 4px solid #000;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}
.gd-cube {
  position: absolute; 
  top: 50%;
  left: 50%;
  transition: 0.1s linear; 
}

